@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee_item {
  animation: scroll var(--animation-duration) linear infinite;
}

.marquee_wrapper:hover > .marquee_item  {
    animation-play-state: paused;
}
